{% extends '../base.html' %}
{% load staticfiles %}

{% block title %} | Nosotros{% endblock %}

{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sobre nosotros</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
    </section>

    <section id="registration">
        <div class="container">
            <div class="row">
                <h4>Nos dedicamos a ayudar a tu estomago</h4>
                <div class="container">
                    <p>
                        Somos una empresa que se dedica a que nuestros usuarios sepan que comer de la forma mas rapida, con una
                        conexion directa con nuestros clientes
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}