<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- TITLE -->
  <title>webCommerce - Tu sitio de reserva</title>
  {% load staticfiles %}
  <!-- LINKS -->
  <link rel="stylesheet" href="{% static 'css/materialdesignicons.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css '%}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css '%}">
  <link rel="stylesheet" href="{% static 'css/hover.min.css '%}">
  <link rel="stylesheet" href="{% static 'css/style.css '%}">
  <!-- JQUERY -->
  <script src="{% static 'js/jquery.min.js '%}"></script>
</head>
<body>
  <!-- Header -->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-satatic-top">
      <!-- Container -->
      <div class="container container-fluid">
        <!-- navbar-header -->
        <div class="navbar-header">
          <button type="button" name="menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="#" class="navbar-brand">webCommerce</a>
        </div>
        <!-- ./ end navbar-header -->
        <!-- navbar-collapse -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Buscar</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entrar <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Iniciar Sesion</a></li>
                <li><a href="#">Registrate</a></li>
              </ul>
            </li>
          </ul>
        </div>
          <!-- ./ end navbar-collapse -->
      </div>
      <!-- ./ end Container -->
    </nav>
    <!-- ./ end Navbar -->
  </header>
  <!-- ./ end Header -->

  {% block content %}{% endblock %}

  <section id="footer">
    <div class="footer-content">
      <h1>webCommerce</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam tempora, vel aspernatur distinctio in, impedit quam, eum, corporis culpa ratione sequi quod dicta placeat quis.</p>
    </div>
    <div class="footer-copyright">
      Copyright © webCommerce 2016. Todos los derechos reservados. Creado por webCommerce Developers
    </div>
  </section>
  <!-- SCRIPTS -->
  <script src="{% static 'js/bootstrap.min.js '%}"></script>
  <script src="{% static 'js/wow.min.js '%}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/main.js '%}"></script>
</body>
</html>
