{% extends '../base.html' %}
{% load staticfiles %}
{% block title %}Mi Perfil{% endblock %}

{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Bienvenido {{ user.username }}</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
    </section>

    <section id="me">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-1">
                    <h4>Mis datos</h4>
                    <p>{{ user.firstname }}</p>
                    <p>{{ user.lastname }}</p>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}